In [1]:
from pandas import DataFrame
import pandas as pd

df = pd.read_csv('sample_0.csv')
df.head(10)

,staf_name,staff_age,staff_id,staff_lang,order_pk,order_address,order_country,order_company,order_price,order_dt,order_list,cli_name,cli_email,cli_phone,cli_secret,c_token,c_pin,c_gen,c_type
0,Vincenzo Haynes,40.0,NaN,Haitian Creole,NaN,561 Capp Ranch,South Sudan,S3 Graphics,702.26,2023-06-04 04:04:12.768457,"['4caa27ab-aa41-4691-b4c4-5c6606f1aed0', '0f44...",Jody Alston,half1883@example.org,NaN,bar,199c8cd0bc793c000238dc4615ac09be9a55bb8e821f1d...,9176.0,NaN,Micron 1TB SSD
1,NaN,35.0,49-01/80,Dhivehi,6961.0,955 Saint Charles Center,Georgia,NaN,1308.12,2023-12-18 04:50:21.666569,"['92d74216-81fe-481a-8180-640aea187206', '3be4...",Stefan Kinney,NaN,+15752274014,pounds,dd91411e2271fdaf60b469f02eef7c608390161cca3ba1...,2559.0,NaN,Micron 512GB HDD
2,Clarita Bonner,NaN,57-69/03,Portuguese,6255.0,209 Rice Lane,Hong Kong SAR China,Bank of America,NaN,2023-08-13 19:17:16.453652,"['6d3895d7-ed41-41bd-94ac-835af1937909', '0783...",Adrian Pratt,NaN,+1-878-532-5465,rather,39f03ec7f669b22c6fb585587e776ed4c6b37e877daf76...,6780.0,NaN,Samsung 1TB SSD
3,Bart Noel,64.0,NaN,Danish,17602.0,1162 Glendale Street,Venezuela,Avant Garde Appraisal Group,1070.27,2023-07-12 14:15:42.094733,NaN,Camelia Cortez,cycling1810@duck.com,+19368521586,NaN,NaN,1274.0,9th Generation,Seagate 1TB SSD
4,Bart Noel,64.0,NaN,Danish,NaN,957 Gateview Highway,Poland,Sexsi Senorita,834.80,2023-12-26 01:58:25.997691,"['dbb950f7-5a12-4de0-b0e2-bf06b4a90736', '4275...",NaN,plane2036@example.org,+19180179760,blogging,43b770ae86d7c6accaae7a09381446416e420627eb86b5...,NaN,6th Generation,Intel 512GB HDD
5,Monty Greene,NaN,49-01/80,Dhivehi,11155.0,NaN,Indonesia,Netstars Matrix Design,1061.23,2023-04-01 00:40:28.879572,"['01285855-3eee-4c86-9e92-3318b9a2dad6', '5abb...",Irving Summers,stop1825@yandex.com,+18656404197,NaN,8472553bc5d0721e4edc27fe53daaa8593c9d798ebfae8...,NaN,5th Generation,SanDisk 64GB SSD
6,NaN,66.0,14-12/76,Bislama,8091.0,277 Gorgas Court,St. Barth√©lemy,NaN,1499.18,2023-12-12 12:39:35.755104,"['eeeefd5c-93f8-49e7-900c-772f15e4364e', 'c6eb...",NaN,existence1860@yahoo.com,+15022733155,wireless,901d46e01d0b484ee6b2719e0d8346919e9b22d23ff2e5...,1732.0,7th Generation,NaN
7,Kenia Hinton,66.0,14-12/76,NaN,8342.0,777 Schofield Station,Morocco,Vocera Communications,587.25,NaN,"['5cc70321-ac24-408e-93eb-ede89141570a', '38d7...",Stefan Kinney,boundaries1896@duck.com,+15752274014,NaN,275f9f9f87c2080a29b1db699cdfc794137a7c2088d868...,NaN,6th Generation,Samsung 512GB SSD
8,Clemente Mcconnell,NaN,60-62/61,Dhivehi,6671.0,631 Peter Yorke Manor,Hungary,NaN,1095.21,2023-01-06 20:55:57.994451,"['e23a1ae1-984d-4e0f-84fe-12fdb1d0010f', '2c02...",Kristian Kirby,mars2034@example.com,NaN,affordable,b50854d9cde58df9b790fbb6b46a3a1eaf57f5553f9529...,1785.0,NaN,Kingston 1TB SSD
9,Monty Greene,35.0,NaN,Dhivehi,8107.0,963 Crags Freeway,Honduras,"ZOMM, LLC",NaN,2023-03-28 22:41:40.495446,"['967ea9dc-8850-400b-a34e-64814af44024', '83ce...",NaN,trinity1848@example.org,+1-661-260-4552,useful,2c218535ee56fdc9b82e62c9fee5180c542e25f96ccb3f...,9309.0,2nd Generation,NaN

In [35]:
l = df['c_type'].str.len()
l.min(), l.max()

(13.0, 25.0)

In [15]:
df.describe()

           staff_age       order_pk    order_price          c_pin
count  149985.000000  171307.000000  171601.000000  149719.000000
mean       48.493923   10031.814579    1000.246964    4988.673869
std        14.531944    5772.923848     288.563917    2914.684243
min        19.000000       1.000000     500.140000       1.000000
25%        38.000000    5043.000000     750.040000    2450.000000
50%        54.000000   10046.000000     999.280000    4966.000000
75%        63.000000   15056.000000    1249.610000    7537.000000
max        66.000000   20000.000000    1499.980000    9999.000000

In [28]:
len('4caa27ab-aa41-4691-b4c4-5c6606f1aed0')

36

In [36]:
df.shape

(200000, 19)